
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

@section Scritps {
    <script>
        (async () => {
            const url = '@Url.Content("~/api/register")?name=Tom&age=30';
            const response = await fetch(url);
            const datas = await response.text();

        })
    </script>
}